  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');


.Heading{
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 20px 30px rgba(0, 0, 0, 0.5);
    color:#561e6e;
  margin-top: 20px;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
  .details{
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: 5fr 5fr 1fr;
    column-gap: 5px;
    margin-top:100px;
    margin-left: 0px;
}

.REPO{
    width:70%;
    height: 90%;
    border: 1px solid;
    color: white;
    background-color: whitesmoke;
    border-radius: 10%;
    text-align:left;
    padding:30px 30px;
    margin-top: 10px;
    border-radius: 57px;
    background: #9a61b3;
    box-shadow:  
                 30px -30px 14px #5d3e6c;
}

.REPO-FLEX{
    
    margin-left: 100px;
    display: grid;
    align-items: center; 
    grid-template-columns: 5fr 5fr 5fr;
    column-gap: 10px;
}

.imag{
    border-radius: 8px;
    width:100%;
    height:auto;
    border: 1px solid white ;
    padding: 10px;
    /* margin-left:100px; */
    /* -ms-transform: rotate(8deg); 
    transform: rotate(8deg); */
}
.name{
    font-family: 'Cairo', sans-serif;
}

.d-details{
    margin-top: 0px;
    font-size:25px;
    font-family: 'Kanit', sans-serif;
}

.Name{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif ;
}
.Name h2{
    font-size: 40px;
    color: #561e6e;
    font-family: 'Georgia', Times, serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 20px 30px rgba(0, 0, 0, 0.5);
}

.img{
    text-align: right;
    margin-right: 50px;
}


.image{
    border: 5px solid white;
    border-radius:50%;
    width:50%;
    height: auto;
    margin-top: 20px;
    box-shadow:  
    20px -18px 5px #7d547d;
    
}

.About{
    color:rgb(58, 54, 58);
  margin-top: 100px;
  text-align: center;
}

.About h3{
    color:#561e6e;
    font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
  0 3px 0 #ccc, 0 4px 0 #ccc,
  0 20px 30px rgba(0, 0, 0, 0.5);
}



.skills{
    text-align: center;
}
.d-icons{
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 5px;
}



.icons2{
    color:white;
    border: 2px solid #9a61b3; 
    padding: 30px 30px;
    margin-top: 20px;
    border-radius: 20px;
    width: 20%;
    height:auto;
    text-decoration: none;   
} 


#a{
    color:#61DBFB;
    background-color:white;

    
}
#b{
    color: #f06529;
    background-color:white;
    /* margin-left:300px; */
}
#c{
   color: #264de4;
   background-color: white;

}
#d{
    color:yellow;
    background-color: white;
    /* margin-left:300px; */

}
#e{
    color:#42b883;
    background:#35495e;
}
#f{
    color: #68a063;
    background-color:#303030;
    /* margin-left:300px; */

}
#g{
    color:purple;
    background-color: white;
}
/* #icon{
    display: block;
} */

.icons{
    padding: 3px 5px;
    width: 4.5%;
    height:auto;
    margin-left:25px;
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 20%;
    box-shadow:  
             5px 5px #7d547d;
}

#icon0{
   color: #264de4;
   background-color: white;
}

#icon1{
    color:white;
    background-color: #171515;
    
}
#icon2{
    color: #264de4;
    background-color: white;
}
#icon3{
   color: #F4B400;
   background-color: white;
}

.cv{
    text-align: center;
    margin-top:20px ;
  font-size: 30px;
  font-family: 'Darumadrop One', cursive;
}

/* .d-icons{
    font-size:20px;
} */



.skill{
    font-size: 30px;
}
.skill h2{
    color:#561e6e;
    font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
  0 3px 0 #ccc, 0 4px 0 #ccc,
  0 20px 30px rgba(0, 0, 0, 0.5);

}
#p{
    margin-top: 0px;
    font-size:20px;
}
#h1{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
}

a{
    font-size: 25px;
    color: rgb(61, 27, 61);
    text-decoration: none;
    font-family: 'Darumadrop One', cursive;
}
a:hover{
    color:white;
}

.project{
    font-size: 35px;
}

.nav{
    margin-left: 30px;
  font-size: 25px;
  color: #561e6e;
}


.more{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header{
    text-align: center;
    
}
.Bar{
    text-align: center;
}

.version{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.card-box{
    margin-left: 0px;
    margin-right: 5px;
}